.vscode

# vivado projects
basys3*
nexys*

# vivado binaries
.Xil
-p
.gen
.srcs
xsim.dir
ip
*/*.bak

# bitstreams generated
*.bit

# vivado logs
*.jou
*.log
*.str

# testbench simulation dumps
*.vcd
*.wdb
*.zip
*.xml
*.pb

# checkpoints, reports, logs
bin

# others
coetool-v01.tar.gz
coetool-v01
*.tmp
.venv